@page "/"
@using MyPortfolio.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Home</PageTitle>

<div id="box"></div>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();

    protected override async Task OnInitializedAsync ()
    {
        await Task.Delay(0);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {

        }
    }
}
